:root{
    --active_color: darkorange;
    --default_color: #2b2b2b;
    --active_dark_color: darkgrey;
    --background_color: white;
    --darker_background_color: #eee;
    --font-color: black;
    --alt-font-color: white;
    --font_size: clamp(1rem, 3svh, 2rem);
    --block_size: clamp(1rem, 3svh, 2rem);
    --font: Arial, sans-serif;
}

body{
    padding: 0;
    margin: 0;
    z-index: 0;
    font: var(--font_size) var(--font);
}

header{
    display: flex;
    flex-direction: column;
}

.header-top{
    background-color: var(--background_color);
    padding: var(--block_size);
}

.contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button{
    border: unset;
    background-color: var(--default_color);
    color: var(--alt-font-color);
}

.button:hover{
    background-color: var(--active_color);
}

.header-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--default_color);
    color: var(--alt-font-color);
}

.nav{
    padding: calc(var(--block_size) * 0.5);
    padding-left: var(--block_size);
    padding-right: var(--block_size);
}

.nav:hover{
    background-color: var(--active_color);
}

.nav:hover .nav-dropdown{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: calc(var(--block_size) * 0.2);
    column-gap: calc(var(--block_size));
}

.nav-dropdown{
    display: none;
    position: absolute;
    top: calc(var(--block_size) * 6.45);
    transform: translateX(calc(var(--block_size) * -1));
    background-color: var(--default_color);
    color: var(--alt-font-color);
    padding: var(--block_size);
    font-size: calc(var(--font_size) * 0.9);
}

.nav-active{
    background-color: var(--active_color);
}

.mobile-show{
    display: none;
}

.content{
    display: flex;
    flex-direction: row;
    background-color: var(--darker_background_color);
}

aside{
    display: flex;
    flex-direction: row;
    border-style: solid;
    margin: var(--block_size);
    padding: var(--block_size);
    padding-left: calc(var(--block_size) * 4);
    padding-right: calc(var(--block_size) * 4);
    background-color: var(--background_color);
}

main{
    margin: var(--block_size);
}

.sub_category_image{
    width: calc(var(--block_size) * 20);
    height: calc(var(--block_size) * 10);;
}

.nav-passive{
    background-color: var(--default_color);
    color: var(--alt-font-color);
    opacity: 0.7;
}

.nav-passive:hover{
    opacity: 1;
}

.main-nav-button{
    border: unset;
    height: calc(var(--block_size) * 1.5);
    width: calc(var(--block_size) * 5);
    margin-right: var(--block_size);
}

.main-content{
    background-color: var(--background_color);
    margin-right: calc(var(--block_size) * 7);
    padding: var(--block_size);
}

.black-screen{
    position: absolute;
    background-color: black;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.feedback-form{
    position: absolute;
    z-index: 2;
    top: 25%;
    background-color: var(--background_color);
    padding: var(--block_size);
    width: calc(100% - var(--block_size) * 2);
}

.hidden {
    display: none;
}

.close-button{
    position: absolute;
    top: 5%;
    left: 95%;
    border: unset;
    background-color: unset;
    font-size: calc(var(--font_size) * 2);
}

.feedback-input{
    display: flex;
    flex-direction: row;
    height: calc(var(--block_size) * 1.5);
}

.feedback-input > input{
    height: auto;
    border-radius: unset;
    border-style: solid;
    border-width: 1px;
    font-size: calc(var(--font_size) * 0.7);
    margin-right: calc(var(--block_size) * 0.7);
}

.feedback-input > input:focus, input:active, input:hover{
    outline: none;
    border-color: var(--active_color);
}